<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">
  <link rel="icon" href="images/favicon.png">
  {{> gtag }}
</head>

<body>
  <div class="medium-container">
    <div class="flex-row">
      <div class="flex-large">
        <h1>Realtime Counter</h1>
        <p>This page can count visitor.</p>
        <hr>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-small">
        <h1>{{ counter }}</h1>
        <p>Page Visit</p>
      </div>
    </div>
  </div>
</body>

</html>